

  /* A simple, css only, (some-what) responsive menu */

body { 
  background: white;
  font-family: 'EB Garamond', serif, helvetica, arial, serif;
  font-size: 16px;
  text-align: center;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.titulopost{
  border-style: outset;
  border-color: #E1A10B(117, 116, 116);
  border-radius: 2px;
  border-width: 5px;
  background-color: rgb(244, 244, 250);
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;

}

/* #Título{
  font-size: 4rem;
  text-align: center;
  border-style: outset;
  border-color: #E1A10B;
  border-width: 0.25rem;
} */
#Subtítulo{
  border-style: solid;
  text-align: center;
  border-color: black;
  /* border-radius: 10px; */
  border-width: 0.15rem;
}

.post{
  margin: 30px 5px 10px 5px;
  background: rgb(255, 255, 255);
  font-style:normal;
  border-color: rgb(61, 61, 61);
  border-width: 5px;
  text-align: justify;
  }


 
.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 40px;
}

/* a little "umph" */
.decor {
  background: #E1A10B;
  background: -webkit-linear-gradient(left, #e9d3a1 10%, #E1A10B 50%);
  background: -moz-linear-gradient(left, #e9d3a1 10%, #E1A10B 50%);
  background: -o-linear-gradient(left, #e9d3a1 10%, #E1A10B 50%);
  background: linear-gradient(left, #e9d3a1 10%, #E1A10B 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
}



ul {
  list-style: none;
  position: relative;
  text-align: left;
  font-style: bold;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: relative;
  background: #ffffff;
  /* background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%); */
  text-align: center;
  /* letter-spacing: 1px; */
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* prime */
ul.primary li a {
  display: block;
  padding: 20px 30px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

/* @media only screen and (max-width: 600px) ¨{ */


  /* .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    display:block;
    float: none;
  }
 
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}

section article:hover{
  box-shadow:0 0.1rem 0.4rem rgba(0,0,0, 0.3)
}


section article h2, section article p{
  margin:1 rem;
}

.botón:hover{
  box-shadow:0 0.1rem 0.4rem rgba(0,0,0, 0.3)
} */